*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{

    display: flex;
    gap: 232.5px;
}
.logo{
    display: flex;
    gap: 5px;
    margin: 21px 106px;
}
.logo img{
    width: 43px;
    height: 38px;
}
.logo h1{
    width: 94px;
    height: 20px;
}
.menu ul{
    display: flex;
    gap: 60px;
    margin-top: 21px;
    list-style-type: none;
}
.menu ul a{
    text-decoration: none;
}
.header_right ul{
    display: flex;
    gap: 24px;
    margin-top: 21px;
    list-style-type: none;

}