*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --primaryColor:hsl(0, 56%, 98%);
    --textColer:#3A3845;

}
.header {
 background-color: white;
 position: fixed;
 width: 100%;
 z-index: 999;
 padding: 5px;
}
.container {
     margin: 0 auto;
     width: calc(100% - 330px);
     
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.header_right .shopping a{
    position: relative;
    display: flex;
    
}
.header_right .shopping a::after{
    content: '4';
    width: 15px;
    height: 15px;
    background-color: rgba(238, 8, 8, 0.5);
    position: absolute;
    top: -5px;
    right:-10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    

}
.collection .row .item img{
    width: 100%;
    filter: grayscale(.7);
    transition: filter .7s;
    display: block;
}
.collection .row .item:hover img{
    filter: grayscale(0);
   
    
}
.collection .row .item{
    position: relative; 
    margin-bottom: 80px;
   
}
.item .sale{
    position: absolute;
    z-index: 1;
    background-color:  #753834d3;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 20px;
 
}
.collection .row .item .collection_info{
position: absolute;
inset: 0;
background-color: rgba(0, 195, 255, 0.315);
display: flex;
flex-direction: column;
justify-content: center;
opacity: 0;
transition: .6s;
}
.collection .row .item:hover .collection_info{
  opacity: 1;
}
.hero{
    background-image: url(./img/hero_background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
     position: relative;
    
     

}
.hero  .hero_info img{
    width: 85px;
    height: 81px;
     
}
.hero .hero_info{
    position: absolute;
    background-color:#826F66;
    top: 0;
    bottom: 0;
    left: calc(22%) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    

}
.hero .hero_info .p_1{
    font-family:'inter';
    font-size: 16px;
    line-height: 24px;
    color: #FFFDFB;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.hero .hero_info .p_2{
width: 200px;
height: 80px;
color: #FFFDFB;
font-family: 'Garamond';
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 30px;
letter-spacing: 4%;
text-align: center;

}
.hero .hero_info .shop_now{
width: 220;
height: 40;
gap: 3px;
padding : 15px 18px;
}

@media screen and (min-width: 0) and (max-width:775px){

    .menu , .header_right{
        display: none;
    }
    .header .row {
        justify-content:space-between;
    }
    .collection .row .item{
        width: 70%;
        margin: auto;
    }
    .collection .row .item img{
        width: 100%;
    }
    .header .container{
        width: 80%;
    }
    .collection .container{
        width:60%;
    }
    .item .sale{
    top: 6px;
    left: 6px;
    padding:2px;
    font-size: 18px;
 
}
.collection .row .item .collection_info h3 , .collection_info .span{
    font-size:15px;
    padding: 3px;

}

    .best_sellers .container{
        width: 100%;
    }
    .logo img{
    width: 33px;
    height: 28px;
}
.best_sellers .row ,.best_sellers .container,.best_sellers .row .seller_item{
    width: 100%;
    

}

.seller_item .seller_item_img , .seller_item .seller_item_information{
    width: 50%;
    margin: auto;
}
.seller_item .seller_item_information .add_cart{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0%;
    padding: 8px 20px;
}
.hero{

background-position: center;
     

}
.hero  .hero_info img{
    width: 30%;
    height: 30%;
}
.hero .hero_info{
    left: 20% ;
}
.hero .hero_info .p_1{
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.hero .hero_info .p_2{
width: 150px;
height: 80px;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
.hero .hero_info .shop_now{
width: 50%;
height: 40;
gap: 3px;
padding : 10px 12px;
font-size: 10px;
}
.hand_made .container .made  , .hand_made_1 .container .history{
   position: relative;

    
}
.hand_made .container ,.hand_made_1 .container{
    width: 86%;
    display: grid;
    grid-template-rows: auto auto;
}
.hand_made .container .made .made_img  , .hand_made_1 .container .history .history_img {
    width: 100%;
    
}
.hand_made .container .made .made_info  , .hand_made_1 .container .history .history_info {
    width: 100%;
    position: absolute;
    background-size: 60%;
    object-fit: contain;
}
.christmas_section  .container .christmas {
    display: grid;
    grid-template-columns:1fr;
    
}
.christmas_section  .container .christmas .christmas_img img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    
}
.christmas_section  .container .christmas .christmas_info {
    width: 50%;
    margin: 0 auto;

   padding: 10px 10px;
  
}
.christmas_section{
    margin: 100px auto 300px auto;
}
.christmas_section .container{
    width: 100%;
    margin: 0 auto;
}
.christmas_section .container .christmas .christmas_img , .christmas_section .container .christmas .christmas_info{
    width: 50%;
    
}

.best_sellers{
    margin-top: 50p;
}

} 
@media screen and (min-width: 776px) and (max-width: 1023px){
    .collection .row .item{
        width: calc(( 100% - 90px ) / 2 );
        
    }
   .menu , .header_right{
        display: none;
    }
    .header .row {
        justify-content:space-between;
    }
    .icon img{
        display: flex;
    }
    .collection .container{
         width: 70%;
    }
    
   .best_sellers .row .seller_item{
    width: calc(( 100% - 90px ) / 2);
    
}

.seller_item .seller_item_img , .seller_item .seller_item_information{
    width: 80%;
    margin: auto;
}
 .seller_item .seller_item_information .add_cart{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0%;
    padding: 8px 10px;
}
.hero{

background-position: center;
     

}
.hero  .hero_info img{
    width: 40%;
    height: 40%;
}
.hero .hero_info{
    left: 20% ;
}
.hero .hero_info .p_1{
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.hero .hero_info .p_2{
width: 200px;
height: 80px;
font-weight: 700;
font-size: 20px;
line-height: 22px;
}
.hero .hero_info .shop_now{
width: 50%;
height: 40;
gap: 3px;
padding : 14px 16px;
font-size: 14px;
}

.hand_made .container .made  , .hand_made_1 .container .history{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background-color: #F7F6F5;
    height: 100vh;
    background-color: aqua;
    
}
.hand_made .container ,.hand_made_1 .container{
    width: 86%;
    display: grid;
   
    grid-template-rows: auto auto;
}
.hand_made .container .made img  , .hand_made_1 .container .history img {
    width: 90%;
}
.christmas_section .container .christmas .christmas_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    width: 70%;
}
.christmas_section  .container .christmas .christmas_info h2{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2%;
    margin-top: 20px;
    margin-bottom: 12px;
}
.christmas_section  .container .christmas .christmas_info a {
font-size: 12px;
line-height: 16px;
letter-spacing: 4%;
}
.christmas_section  .container .christmas .christmas_info p{
font-size: 12px;
line-height: 20px;
}
.christmas_section  .container .christmas .christmas_info{
     padding: 45px 45px;
}
.footer .container .row .col_3 .vertor{
    display: none;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
     .collection .row .item {
        width: calc(( 100% - 90px ) / 3 );
       
    }
    .best_sellers .row .seller_item{
    width: calc(( 100% - 90px ) / 3);
}
.seller_item .seller_item_img , .seller_item .seller_item_information{
    width: 80%;
    margin: auto;
}
 .seller_item .seller_item_information .add_cart{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0%;
    padding: 8px 15px;
}
.icon img{
        display: none;
    }

    .christmas_section  .container .christmas .christmas_info{
   padding: 45px 45px;
}
.footer .row {
   
    padding: 40px 60px;
    gap: 20px; 
    
    
}

}
@media screen and (min-width:1280px) {

    .icon img{
        display: none;
    }
    .seller_item .seller_item_information .add_cart{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0%;
    padding: 8px 15px;
}
}

.icon img{
     width: 43px;
    height: 38px;
}

.logo{
    display: flex;
    gap: 5px;
   
}
.logo img{
    width: 43px;
    height: 38px;
}
.logo h1{
    width: 94px;
    height: 20px;
}
.menu ul{
    display: flex;
    gap: 60px;
    
    list-style-type: none;
}
.menu ul a{
    text-decoration: none;
}
.header_right ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.collection .row .item{
    
    margin-top: 80px ;

}
.item{
    width: calc(( 100% - 90px ) / 4);
    text-align: center;
     cursor: pointer;
}
.item h3{
     margin-top: 23px;
}
.best_sellers {
    padding: 80px 0px;
    text-align: center;
    
}
.best_sellers h2{
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 48px;
    color: #3A3845;
}
.seller_item .seller_item_img img{
    width: 100%;
    height: 321px;
}
.seller_item{
    text-align: left;
    width: calc((100% - 90px)/4);
    margin-bottom: 40px;
}
.seller_item_information h3 ,.seller_item_information span{
    font-family: "Inter", sans-serif;
     font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 12px;
    color: var(--textColer);
    letter-spacing:6%;


}
.seller_item_information span{
    letter-spacing: 0%;
    margin-top: 0px;
    margin-bottom: 24px;
}
.seller_item_information p{
    font-family: "Inter", sans-serif;
     font-size: 14px;
    font-weight: 400;
    margin-bottom:58px;
    color:#807F86;
    width: 100%;
    line-height: 22px;
}
.seller_item_information .add_cart{
    border: 1px solid var(--textColer);
    padding: 15px 75px ;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: var(--textColer);
    letter-spacing: 5%;
    text-transform: uppercase;
    width: 100%;
    transition: .6s;
    
    
}
.seller_item_information .add_cart:hover{
    background-color: rgba(0, 81, 255, 0.432);
}
.hand_made .container .made  , .hand_made_1 .container .history{
    display: grid;
    grid-template-columns: repeat(2,50%);
    background-color: #f7f5f6;
    height: 348px;
    
}
.hand_made .container .made .made_info  , .hand_made_1 .container .history .history_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   padding: 64px 60px;


}
.hand_made .container .made h2 ,.hand_made_1 .container .history h2{
    font-family: 'Garamond';
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3845;
    margin-top: 24px;
    margin-bottom: 15px;
}
.hand_made .container .made a ,.hand_made_1 .container .history a {
font-family: 'Inter';
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #3A3845;


}
.hand_made .container .made p ,.hand_made_1 .container .history p{
font-family: 'Inter';
font-weight: 400;
font-style:normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #595667;

}
.christmas_section{
    height: 350px;
  display: grid;
  grid-template-rows: auto auto;
}
.christmas{
    background-color: #f6f5f7;
    display: grid;
    grid-template-columns: repeat(2,50%);
    overflow: hidden;
    position: relative;
}
.sign .christmas_section .container .christmas{
    background-color: #fffffff5;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    position: relative;
}
.christmas_section  .container .christmas .christmas_info h2{
    font-family: 'Garamond';
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #3A3845;
    margin-top: 24px;
    margin-bottom: 15px;
}
.christmas_section  .container .christmas .christmas_info a {
font-family: 'Inter';
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #3A3845;


}
.christmas_section  .container .christmas .christmas_info p{
font-family: 'Inter';
font-weight: 400;
font-style:normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #595667;
}
.christmas_section  .container .christmas .christmas_info{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 54px 50px;
}
.christmas_section  .container .christmas .christmas_img{
    width: 100%;
    height: 350px;
   object-fit: cover;
  

}
.sign .christmas_section .container .christmas .christmas_info .email{
    border: none;
    border-bottom: 1px solid #3A3845;
    width: 300px;
    text-align: center;
    padding: 17px;
}
.sign .christmas_section .container .christmas .christmas_info button{
width: 110px;
height: 45px;
margin-top: 10px;
padding: 10px 24px;
border-width: 1px;
font-family: 'Inter';
font-weight: 600;
font-style: Bold;
font-size: 12px;
line-height: 18px;
letter-spacing: 8%;
text-align: center;
text-transform: uppercase;
background-color: white;


}
.footer{
    background-color: #3A3845;
}
.footer .row {
    display: flex;
   
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 100px;
    gap: 20px; 
    position: relative;
    
}

.footer .col_1, .footer .col_2 , .footer .col_3 {
    flex: 1;
    width: 250px; 
}


.footer .vertor {
    width: 100%; 
   margin-top: -60px; 
}

.footer .footer_logo img {
    max-width: 100%;
    height: auto;
}

.footer .footer_logo p {
    margin-top: 15px;
    line-height: 1.5;
}




.footer .footer_right div {
    min-width: 150px; 
}






.footer .container .row .footer_right h4{
font-family: 'Inter';
font-weight: 600;
font-style: Bold;
font-size: 16px;
line-height: 22px;
letter-spacing: 6%;
text-transform: uppercase;

}
.footer .container .row .footer_right{
   display: flex;
   justify-content: space-around;
   text-align: center;
   color: #E5E5E5;
   gap: 20px;
}
.footer .container .footer_right .about_as , .footer .container .row .footer_right .services , .footer .container .row .footer_right .portfolio{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.footer .container .row .footer_right a{
font-family: 'Inter';
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
color: #E5E5E5;
text-decoration: none;

}
.footer .row .vertor img{
    height: 100%;
    position: absolute;
    
    margin: 0 40px;
}
.footer .row .footer_logo p{
font-family: 'Inter';
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color: #E5E5E5;
margin-top: 30px;
   
}
.footer .row .footer_logo button{
width: 150px;
height: 41px;
margin-top: 30px;
padding: 15px 18px;
 background-color: #3A3845;
 font-family: 'Inter';
font-weight: 600;
font-style:  Bold;
font-size: 12px;
line-height: 18px;
letter-spacing: 8%;
text-align: center;
text-transform: uppercase;
color: white;
border: 1px solid #F7F6F5


}
.last_footer{

justify-content: space-between;
border-top-width: 1px;
padding: 32px;
color: #6D758F;
background-color: #3A3845;

}
.last_footer .container{
    border-top: 1px solid #CAC9CF
    
}
.last_footer p{
    font-family: 'Inter';
font-weight: 400;
font-style: 'Regular';
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
padding: 20px;

}
.last_footer span{
font-family: 'Inter';
font-weight: 400;
font-style: 'Regular';
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;

}
@media screen and (min-width: 0) and (max-width:775px){
     .christmas_section  .container .christmas .christmas_info h2{
   
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 3%;
  
}
.christmas_section  .container .christmas .christmas_info a {
font-size: 12px;
line-height: 15px;
letter-spacing: 4%;
}
.christmas_section  .container .christmas .christmas_info p{
font-size: 12px;
line-height: 24px;

}
.christmas_section  .container .christmas .christmas_info {
    width: 50%;
    margin: 0 auto;
   padding: 10px 10px;
  
}


}
@media screen and (max-width:915px){

    .footer .container {
        width: 100%;
        padding: 0 0;
    }
    .footer .container .row .footer_logo{
       width: 100%;
        margin-bottom: 30px;
    }
    .footer .container .row .footer_right{
      width: 100%;
        display: flex;
        flex-direction: column; 
        gap: 20px;
        align-items: center;
}
.footer .container .row {
       flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer .container  .row .vertor{
        display: none;
    }
    .footer .container .row .footer_right div{
        width: 100%;
    }
    
}

